## *Modeling exercises*

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor

import wrangle as wr
import evaluate as ev
import explore as ex

1. Select a dataset with a continuous target variable.

2. Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [4]:
train, validate, test = wr.split_zillow(wr.get_zillow())

In [5]:
train.head(1)

,id,bedrooms,bathrooms,sq_feet,home_value,year_built,tax_amount,fips,county_name,LA,Ventura,house_age
738365,1022663,2,1.0,1078,260058,1950.0,3554.54,6037,LA,1,0,67

In [6]:
train.isnull().sum()

id             0
bedrooms       0
bathrooms      0
sq_feet        0
home_value     0
year_built     0
tax_amount     0
fips           0
county_name    0
LA             0
Ventura        0
house_age      0
dtype: int64

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1198465 entries, 738365 to 1000863
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1198465 non-null  int64
 1   bedrooms     1198465 non-null  uint8
 2   bathrooms    1198465 non-null  float64
 3   sq_feet      1198465 non-null  int64
 4   home_value   1198465 non-null  int64
 5   year_built   1198465 non-null  float64
 6   tax_amount   1198465 non-null  float64
 7   fips         1198465 non-null  int64
 8   county_name  1198465 non-null  category
 9   LA           1198465 non-null  int64
 10  Ventura      1198465 non-null  int64
 11  house_age    1198465 non-null  uint8
dtypes: category(1), float64(3), int64(6), uint8(2)
memory usage: 94.9 MB

3. Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.