In [26]:
import pandas as pd
import numpy as np

from statsmodels.stats.outliers_influence import variance_inflation_factor

import wrangle as wr

In [17]:
# save zillow data to a data frame
df = wr.get_zillow()

In [18]:
# save the train data set
df, _, _ = wr.split_zillow(df)

In [19]:
df.head(1)

,id,bedrooms,bathrooms,sq_feet,home_value,year_built,tax_amount,fips,county_name
1648005,2282752,4,2.0,1615.0,441974.0,1970.0,5117.14,6111,Ventura

In [20]:
df.drop(columns=['id','home_value', 'county_name'], inplace=True)

In [21]:
df.head(1)

         bedrooms  bathrooms  sq_feet  year_built  tax_amount  fips
1648005         4        2.0   1615.0      1970.0     5117.14  6111

In [22]:
vif_data = pd.DataFrame()
vif_data['features'] = df.columns
vif_data['VIF'] = [variance_inflation_factor(df.values, i) for i in range(len(df.columns))]

In [25]:
vif_data.sort_values(by='VIF')

     features           VIF
4  tax_amount      5.699237
2     sq_feet     22.393420
1   bathrooms     23.370862
0    bedrooms     25.289474
5        fips  13006.684384
3  year_built  13393.825142

Based on the variance inflation factor ```tax_amount```, ```sq_feet```, ```bathrooms``` and ```bedrooms``` are the best features to use in future model